<!DOCTYPE html>
<html lang="en">
<head>
    <title>tl;dr</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="css/session.css"/>

<div class="container overflow-auto message-box">
    <div class="row">
        <div class="message-bot col-sm">

            text over here text over here text over here text over here text over here text over here text over here
            text over here text over here
        </div>
    </div>

    <div class="row">
        <div class="message-user col-sm offset-sm-7">

            text over here text over here text over here text over here text over here text over here text over here
            text over here text over here
        </div>
    </div>

    <div class="row">
        <div class="message-bot col-sm">

            text over here text over here text over here text over here text over here text over here text over here
            text over here text over here
        </div>
    </div>
    <div class="row">
        <div class="message-user col-sm offset-sm-7">

            text over here text over here text over here text over here text over here text over here text over here
            text over here text over here
        </div>
    </div>

    <div class="row">
        <div class="message-bot col-sm">

            text over here text over here text over here text over here text over here text over here text over here
            text over here text over here
        </div>
    </div>
    <div class="row">
        <div class="message-user col-sm offset-sm-7">

            text over here text over here text over here text over here text over here text over here text over here
            text over here text over here
        </div>
    </div>
</div>

<div class="container">
    <div class="messaging center-block">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

</body>
</html>